<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>JetBot</title>
</head>
<style>
    .convo-window {
        position: relative;
        display: block;
    }

    .chat-history-window {
        height: 440px;
        width: 400px;
        float:left;
        position: relative;
        overflow: auto;
    }
    .text-history-window {
        position: fixed;
        align-self: end;
        padding: 100px
    }
</style>
<body>
    <h1>JetBot</h1>
    <div class "convo-window">
        <div class="chat-history-window">
            {% if session.get("messages") %}
                {% for msg in session["messages"] %}
                    <p class="message">{{ msg }}</p>
                    <br/>
                {% endfor %}
            {% endif %}
        </div>
        <div class="text-input-window">
            <p><label for="user-input">Ask me anything.</label></p>
            <form method="post" action="{{ url_for('chat.send') }}">
                <input type="text" name="message" rows="5" value="{{request.form['message']}}" cols="30"/>
            </form>
        </div>
    </div>
</body>
</html>